.sub-category-page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.sub-category-page header,
.sub-category-page main {
  grid-column: span 4;
}
.sub-category-page aside {
  grid-column: span 2;
  grid-row: span 2;
}

/* .sub-category-page main .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(300px, 1fr));
  justify-items: center;
} */

@media (max-width: 550px) {
  .sub-category-page header,
  .sub-category-page aside,
  .sub-category-page main {
    grid-column: span 6;
  }
}

