.layout {
  text-align: center;
  min-height: 100%;
  background: var(--defaultWhite);
}

.layout .site-layout {
  padding: 0 20px 80px 20px;
  background: var(--defaultWhite);
}

.layout.admin-layout .site-layout {
  padding: 10px;
}

.layout .ant-layout-header {
  width: 100%;
  padding: 5px 15px 5px 15px;

  background: var(--lightBlue);
  height: min-content;
  line-height: 5px;

  position: sticky;
  top: 0;
  z-index: 99999999;
}

.layout.admin-layout .ant-layout-header {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.layout .ant-layout-header .personal {
  max-width: 150px;
}

.layout.admin-layout .ant-layout-sider .ant-menu {
  background: var(--lightBlue);
}
.layout.admin-layout .ant-layout-sider-trigger {
  background: var(--lightBlue);
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}


@media (max-width: 765px) {
  .layout .ant-layout-header p {
    line-height: normal;
  }
}
