.layout {
  height: 100%;
  text-align: center;
}

.layout .ant-layout-content {
  padding: 10px;
}

.layout.main-layout .site-layout {
  padding: 0 20px;
  overflow: auto;
}

.layout .ant-layout-header {
  background: white;
  height: min-content;

  line-height: 5px;
  padding: 15px 10px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.layout.admin-layout .ant-layout-header {
  padding: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.layout .ant-layout-header .personal {
  max-width: 150px;
}

@media (max-width: 765px) {
  .layout .ant-layout-header p {
    line-height: normal;
  }
}

.layout .top-menu-navbar {
  text-align: justify;
}

.layout .top-menu-navbar .ant-menu-title-content span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
