.logo {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: auto;

  max-width: 150px;
  min-width: 120px;
}

.editable-row .long-text-field {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
}