.news-products-main-container .page-title {
  font-size: 38px;
  font-weight: 400;
  margin: 10px 0;
}

.news-products-main-container .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(270px, 1fr));
  justify-items: center;
  overflow: auto;
}
