.card-bg {
  /* position: absolute;
  top: auto;
  right: 0px;
  left: 0px;

  background: blue;
  height: 115%;
  width: 115%;
  border-radius: 50%;
  z-index: 0; */
}

.ant-card { 
  z-index: 1;
  position: relative;

}
