.order-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page .go-back {
  align-self: flex-start;
  padding-bottom: 5px;
}

.order-page > div:not(.go-back) {
  margin-top: 20px;
  width: 85%;
  height: auto;
  border-radius: 8px;
  background-color: white;
  padding: 0 10px;
}

.order-page .order-form-title {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
}

.order-page > div.proceed-to-payment {
  padding: 0;
}
