.cart-product-card {
  margin-top: 10px;
  background: transparent;
  height: min-content;
  position: relative;
}
.cart-product-card .ant-card-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-product-card .ant-card-body .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.cart-product-card .left .card-image {
  width: 250px;
}
.cart-product-card .left .card-image img {
  object-fit: contain;
  height: 150px;
  width: 150px;
}

.cart-product-card .right {
  width: 100%;
  padding: 10px 10px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid rgba(211, 211, 211, 0.7);
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 50%, rgba(211, 211, 211, 0.5));
}
.cart-product-card .right .field {
  text-align: justify;
}
.cart-product-card .right .field .label {
  font-weight: 700;
}

.cart-product-card .right .field.prices-fields {
  padding: 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: flex-start;
  align-items: center;
}
.cart-product-card .right .field.prices-fields .prices-left {
  display: flex;
  gap: 10px;
}
.cart-product-card .right .field.prices-fields .prices-left .stock-wrapper {
  width: 100px;
  display: flex;
  gap: 10px;
}
.cart-product-card .right .field.prices-fields .prices-left .stock-wrapper input {
  text-align: center;
  height: min-content;
}

.cart-product-card .right .field.description-field p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

@media (max-width: 768px) {
  .cart-product-card .ant-card-body {
    flex-direction: column;
  }


  .cart-product-card .right .field.prices-fields {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}